* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

main {
    /* padding: 0 750px 120px 750px; */
    background-color: #1F2937;
    padding-bottom: 120px;
}

.section-main {
    margin-top: 150px;
}

header, .section-main {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
}


ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}

.slogan {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.slogan-desc {
    font-size: 18px;
    color: #E5E7EB;
    /* margin-top: 10px; */
}

.slogan-block {
    display: flex;
    flex-direction: column;
    width: 520px;
    /* border: 2px solid red; */
    justify-content: space-between;
    flex-shrink: 0;
}

.button-signup {
    width: 30%;
    background-color:#3882F6 ;
    border-radius: 10px;
    font-size: 20px;
    border-style: none;
    color: white;
    padding: 8px;
    /* margin-top: 20px; */
}

.section-2-container {
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    /* margin-top: 50px; */
}

.section-2-box {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.section-2-box + p {
    text-align: center;
    margin-top: 10px;
}

.section-2 {
    padding: 100px 0 150px 0;
}

.section-3 {
    background-color: #E5E7EB;
    padding: 150px 150px 100px 150px; 
}

.section-3 h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: left; 
    /* padding-left: 150px; */
    /* padding-right: 150px; */
}

.section-3 p {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    /* padding-right: 150px; */
}

